@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@font-face {
  font-family: Larken;
  font-display: swap;
  src: url(assets/font/LarkenDEMO-Regular.otf);
}
@font-face {
  font-family: Circular-std;
  src: url(assets/font/CircularStd-Book.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
}
html {
  scroll-behavior: smooth;
  background-color: #222222;
  font-family: 'Circular-std', sans-serif;
}
/*section {
  height: 100vh;
  position: relative;
}*/

#section-1 {
  height: 95vh;
  position: relative;
  color: white;
  /*background: linear-gradient(180deg, #222222 62vh, #ffffff 34vh);*/
}
a#scroll-btn {
  background-color: #403E3E;
  position: absolute;
  height: 75px;
  width: 40px;
  border: 5px solid #403E3E;
  box-shadow: inset 0px 0px 0px 2px #757474;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 5px;
  border-radius: 3em;
}
a#scroll-btn:before {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  height: 1.2em;
  width: 1.2em;
  background-color: #ffd700;
  border-radius: 50%;
  animation: move-down 2s infinite;
}
@keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(5.3em);
    opacity: 0;
  }
}
/*a#scroll-btn:after {
  position: absolute;
  content: "SCROLL DOWN";
  width: 12em;
  display: block;
  width: 12em;
  text-align: center;
  left: -4.2em;
  bottom: -2.5em;
  font-size: 1.6em;
  color: #ffffff;
  letter-spacing: 3px;
  font-weight: 600;
}*/
#section-2 {
  background-color: #ffffff !important;
  background: 
  linear-gradient(100deg,transparent 49.8%,#ffd700 50%) right   /80% 100%;
  background-repeat:no-repeat;
  color: #ffffff;
  height: 100vh;
  /*
  font-size: 2.7em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;*/
}
@media screen and (max-width: 500px) {
  a#scroll-btn {
    font-size: 12px;
  }
}


/* main */

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
}
.w3-bar {
  background-color: #222222;
  height: 45px;
}
.w3-bar > div {
  padding-top: 4px;
}
html, body {
  overflow-x: hidden;
}
.hero > h1 {
  font-family: 'Circular-std';
  font-weight: 700;
  font-size: 50px;
}
p {
  font-family: 'Circular-std', sans-serif;
  font-size: 18px;
}

.about > h1 {
  font-family: 'Circular-std';
  font-weight: 700;
  padding-top: 20vh;
}

.services {
  padding-top: 7vh;
}

.services > div {
  padding-top: 8vh;
}

.services > h2 {
  font-family: 'Circular-std';
  font-weight: 400;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
#section-3 {
  position: relative;
  background-image: url(assets/Decoration.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-position-y: 20%;
  background-size: 10vh;
}

#serv-card > img {
  height: 80px;
  width: 80px;
}

#serv-card > div {
  padding-top: 18px;
}

#serv-card > div > p {
  font-family: 'Circular-std';
  font-size: 13px;
  font-weight: 500;
}

.w3-row {
  padding: 30px 0;
}

/*#section-4 {
  
}*/

.subheader {
  padding-top: 12vh;
  padding-bottom: 20vh;
}

h3 {
  text-align: center;
  font-size: 40px !important;
  padding: 0 0;
  font-family: 'Circular-std' !important;
}

#footer > div > p {
  font-size: 14px;
}
#logo {
  height: 30px;
  width: 100px;
}
#social {
  padding-top: 3px;
  padding-bottom: 3vh;
}
#social-icon {
  height: 20px;
  width: 20px;
}
#nav-anchor {
  font-family: 'Circular-std';
}
#nav-anchor:hover {
  color: #ffd700;
}
a {
  text-decoration: none;
}
#foot-link:hover {
  color: #ffd700;
}

/* About Us Page */

#about-section-1 {
  height: 50vh;
  background-image: url(assets/about/newhero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-hero {
  display: flex;
  justify-content: center;
  position: relative;
  height: 50vh;
}

.about-hero > img {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#about-section-2 {
  background-color: #ffffff;
}

.sec-2-left {
  background-color: #FFD700;
}

.sec-2-left > div {
  padding: 20px;
}

.sec-2-right > div > p {
  color: #000000 !important;
}

.sec-2-right > div {
  padding: 20px;
}

.sec-3-left,.sec-3-right > div {
  height: 250px;
}

.sec-3-left > div {
  padding: 34px;
}

.sec-3-right > div {
  background-image: url(assets/about/jon-tyson-vVSleEYPSGY-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 34px;
}

.pencil-sec {
  background-image: url(assets/about/ejoanna-kosinska-1_CMoFsPfso-unsplash.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.pencil-sec > div:first-child {
  padding-top: 200px;
}

#about-section-4 > div {
  padding: 34px;
}

#about-section-5 {
  background-color: #ffffff;
}

#about-section-5 > div {
  padding-left: 20px;
  padding-right: 20px;
}

.get-in-touch {
  background-image: url(assets/about/ian-schneider-TamMbr4okv4-unsplash.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 280px;
  width: 420px !important;
  border-radius: 18px;
}

#about-section-6 {
  background-color: #ffffff;
}

#about-section-6 > div > div {
  padding: 20px;
}

input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border-color: #737373;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  padding-left: 10px;
}

input[type=submit] {
  float: right;
  width: 200px;
  height: 35px;
  font-size: 20px;
  background-color: #ffd700;
  color: white;
  border: none;
  font-weight: 800;
  letter-spacing: 1px;
  text-align: center;
}

input[type=submit]:hover {
  background-color: #a08a0c;
}

::placeholder {
  font-family: 'Circular-std', sans-serif;
  font-size: 14px;
}

::-webkit-placeholder {
  font-family: 'Circular-std', sans-serif;
  font-size: 14px;
}

textarea {
  padding-left: 10px;
  width: 100%;
  height: 100px;
  border-radius: 5px;
}

/* tablet screen sizes */
@media only screen and (min-width: 600px) {
  nav > :first-child {
    padding-left: 5%;
    padding-right: 5% !important;
  }
  .hero {
    left: 55%;
  }
  .hero > h1 {
    width: 80%;
  }
  .hero > p {
    width: 60%;
  }
  .about > h1 {
    padding-left: 5%;
    padding-right: 5%;
  }
  .about > p {
    padding-left: 5%;
    padding-right: 5%;
  }
  .services > div > h2 {
    padding-left: 5%;
  }
  #footer > div {
    padding-left: 5%;
  }
}

/* desktop screen sizes */
@media only screen and (min-width: 992px) {
  .hero > h1 {
    font-size: 72px !important;
    width: 60%;
  }
  .hero > p {
    width: 32%;
  }
  .about > h1 {
    font-size: 48px;
  }
  .about > p {
    font-size: 20px;
    padding-right: 20%;
  }
  .services > div > h2 {
    font-size: 40px !important;
  }
  #serv-card > div > p {
    font-size: 18px !important;
  }
  #serv-card > img {
    height: 120px;
    width: 120px;
  }
  .subheader > h3 {
    font-size: 80px !important;
  }
  #footer > :last-child {
    padding-left: 15%;
  }
}